header {
  border-bottom: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.382);

  z-index: 1;

  font-size: 1.5vw;
}

.logo {
  color: white;
}
.logo:link {
  text-decoration: none;
}
.logo:hover {
  text-decoration: underline;
}