.image {
  width: 100vw;
  cursor: none;
  user-select: none;
}
.absolute {
  cursor: none;
  position: absolute;
  color: black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 2200px;
  background-color: black;
}
.center {
  transform: translate(-50%, -50%);
}
.zoomed {
  border-radius: 50%;
  border: 1px solid black;
}
.outline {
  position: absolute;
  border: 1px solid magenta;
  color: white;
}
.top-left, .top-right, .bottom-left, .bottom-right {
  position: absolute;
  border: 10px solid yellow;
  width: 10px;
}
.relative {
  position: relative;
}