.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.20);
  font-size: 3vw;
  animation: fade-in .1s ease-in;
}
.image {
  width: 100vw;
  cursor: none;
  user-select: none;
  transition: 250ms;
}
.image-intro {
  width: 100vw;
  user-select: none;
  filter: brightness(25%) blur(10px);
}
.image-selection {
  user-select: auto;
  width: 100vw;
  top: 0;
  left: 0;
  filter: brightness(80%);
  transition: 250ms;
}
.magnifier {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 2200px;
  background-color: black;
}
.center {
  transform: translate(-50%, -50%);
}
.zoomed {
  border-radius: 50%;
  border: 1px solid black;
}
.outline {
  position: absolute;
  border: 1px solid magenta;
  color: white;
}
.top-left, .top-right, .bottom-left, .bottom-right {
  position: absolute;
  border: 10px solid yellow;
  width: 10px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.no-cursor {
  cursor: none;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
}
