.instructions {
  border-bottom: 1px solid;
  border-right: 1px solid;
  width: 50%;
  text-align: center;
}

.instructions::after {
  content: '+';
  color: white;
  margin-left: .5rem;
}
.active:after {
  content: "-";
}