.intro {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  animation: fade-in .1s ease-in;
}
.intro-container {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 10px;
  border: 1px solid;
  top: 50vh;
  left: 50vw;
  width: 70vw;
  height: 70vh;

  display: flex;

  font-size: 3vw;
  z-index: 1;
}
.start {
  width: 80%;
  border: 2px solid;
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 0.896);
  border-radius: 10px;
}
.start:hover {
  cursor: pointer;
}
.crew {
  width: 80%;
}
.hidden {
  display: none;
}
.loading-intro {
  opacity: 20%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
}