/* magnifying imitation */
.selection {
  position: relative;
  z-index: 1;

  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 2200px;
  background-color: black;
}
 /* shared traits */
.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.911);
  transition: 50ms;
  border: 1px solid black;
  font-size: .8rem;
  color: black;

  object-fit: scale-down;
}
.bubble:hover {
  transform: scale(1.1) translate(-50%, -50%);
  transform-origin: top left;
  cursor: pointer;
}

.selection-cancel {
  top: 130px;
  left: 50px;
}
.selection-cancel::after {
  content: 'ⓧ';
  color: rgb(255, 65, 65);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 3rem;
}

.selection-waldo {
  top: -30px;
  left: 50px;
}

.selection-wenda {
  top: -8px;
  right: -59px;
}

.selection-wizard {
  top: 50px;
  right: -82px;
}

.selection-odlaw {
  top: 108px;
  right: -59px;
}