.summary-container {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 10px;
  border: 1px solid;
  top: 50vh;
  left: 50vw;
  width: 70vw;
  height: 70vh;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  z-index: 1;
  overflow: scroll;
}
.summary-magnify {
  width: 100px;
  height: 100px;
  transform-origin: center;
  background-repeat: no-repeat;
  background-size: 2200px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}
.summary-title {
  font-weight: bold;
}
.summary-window-container {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}
.summary-profile {
  object-fit: scale-down;
  width: 100px;
  height: 100px;
}
.summary-profile-container {
  display: flex;
  padding: 2rem;
}
.summary-time {
  padding-top: 1rem;
}
.submit-form {
  display: flex;
  gap: 5px;
}
input {
  font-size: 1.5rem;
}
.reset-button {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0 10%;
}